<!DOCTYPE html>
<html>
  <head>
    <title>GoodReadsAndBadReadsToo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="navbar">
      <a>Home</a>
      <!-- <div class="dropdown"><button class="dropbtn">Shop</button>
        <div class="dropdown-content">
          <a>Men's Attire</a>
          <a>Women's Attire</a>
          <a>Shoes</a>
        </div>
      </div> -->
      <a>Club</a>
      <a>Dash</a>
      <a>Search</a>
    </div>
    <%= yield %>
  </body>
</html>
